<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to "グル×ダイ", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ほ～ム",    '#' %></li>
        <li><%= link_to "へるぷ",    '#' %></li>
        <li><%= link_to "ユーザー登録", '#' %></li>
      </ul>
    </nav>
  </div>
</header>